<ion-header>
  <ion-toolbar>
    <ion-title>Crear Vehiculo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-card padding class="background">
    <ion-card-content>
      
        <ion-label position="stacked">Modelo:</ion-label>
        <ion-item>
          <ion-input type="text" name="modelo" [(ngModel)]="modelo"></ion-input>
        </ion-item>
        <div><b></b><br/></div>

        <ion-label position="stacked">Anio:</ion-label>
        <ion-item>
          <ion-input type="number" name="anio" [(ngModel)]="anio"></ion-input>
        </ion-item>
        <div><b></b><br/></div>

        <ion-label position="stacked">Version:</ion-label>
        <ion-item>
          <ion-input type="text" name="version" [(ngModel)]="version"></ion-input>
        </ion-item>
        <div><b></b><br/></div>

        <ion-label position="stacked">Color:</ion-label>
        <ion-item>
          <ion-input type="text" name="color" [(ngModel)]="color"></ion-input>
        </ion-item>
        <div><b></b><br/></div>

        <ion-label position="stacked">Imagen:</ion-label>
        <ion-item>
          <ion-input type="text" name="imagen" [(ngModel)]="imagen"></ion-input>
        </ion-item>
        <div><b></b><br/></div>

        <ion-label position="stacked">Categoria</ion-label>
        <ion-item>
          <ion-select [(ngModel)]="idCategoria">
            <ion-select-option *ngFor="let categoria of listadoCategorias">{{categoria.id + ' ' + categoria.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-label position="stacked">Marca</ion-label>
        <ion-item>
          <ion-select [(ngModel)]="idMarca">
            <ion-select-option *ngFor="let marca of listadoMarcas">{{marca.id + ' ' + marca.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>
        
        <ion-label position="stacked">Precio:</ion-label>
        <ion-item>
          <ion-input type="number" name="precio" [(ngModel)]="precio"></ion-input>
        </ion-item>
        <div><b></b><br/></div>

        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="12" class="ion-text-center">
              <ion-button (click)="creaDatosVehiculo()">Guardar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      
    </ion-card-content>
  </ion-card>
</ion-content>
