<ion-header>
  <ion-toolbar>
    <ion-title>Listado Clientes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-searchbar (ionInput)="filterList($event)" placeholder="Buscar cliente"></ion-searchbar>
  <ion-list *ngFor="let cliente of listado">
    
    <ion-item-divider (click)="showCliente(cliente.clicod)">
      <ion-label style="font-size: 18px; font-weight: bold;">{{cliente.clinom}}</ion-label>
    </ion-item-divider>
    <ion-item (click)="showCliente(cliente.clicod)">
      <ion-label>
        <p>Ruc: {{cliente.cliruc}}</p>
        <p>Direccion: {{cliente.clidir}}</p>
        <p>Telefono: {{cliente.clitel}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
