<ion-header>
  <ion-toolbar>
    <ion-title>{{nombre}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background" *ngFor="let cliente of cliente">
  <ion-card padding class="background">
    <ion-card-content>
      <form (ngSubmit)="actualizaDatosCliente()">
        <ion-label position="stacked">Ruc:</ion-label>
        <ion-item padding class="background">
          <ion-input hidden type="number" name="codigo" [(ngModel)]="codigo"></ion-input>
          <ion-input type="number" name="ruc" [(ngModel)]="ruc"></ion-input>
        </ion-item>
        <div><b></b><br/></div>

        <ion-label position="stacked">Razon Social: </ion-label>
        <ion-item padding class="background">
          <ion-textarea type="text" name="nombre" [(ngModel)]="nombre"></ion-textarea>
        </ion-item>
        <div><b></b><br/></div>

        <ion-label position="stacked">N.Comercial: </ion-label>
        <ion-item padding class="background">
          <ion-input type="text" name="nombreComercial" [(ngModel)]="nombreComercial"></ion-input>
        </ion-item>
        <div><b></b><br/></div>
        
        <ion-label position="stacked">Ciudad: </ion-label>
        <ion-item padding class="background">
          <ion-input type="text" name="ciudad" [(ngModel)]="ciudad"></ion-input>
        </ion-item>
        <div><b></b><br/></div>

        <ion-label position="stacked">Direccion: </ion-label>
        <ion-item padding class="background">
          <ion-textarea type="text" name="direccion" [(ngModel)]="direccion"></ion-textarea>
        </ion-item>
        <div><b></b><br/></div>

        <ion-label position="stacked">Telefono: </ion-label>
        <ion-item padding class="background">
          <ion-input type="number" name="telefono" [(ngModel)]="telefono"></ion-input>
        </ion-item>
        <div><b></b><br/></div>

        <ion-label position="stacked">Correo: </ion-label>
        <ion-item padding class="background">
          <ion-input type="text" name="correo" [(ngModel)]="correo"></ion-input>
        </ion-item>
        <div><b></b><br/></div>

        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="12" class="ion-text-center">
              <ion-button (click)="actualizaDatosCliente()">Actualizar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
