.saldo{
    //background-color: red;
    color: red;
}


ion-label{
    font-weight: bold;
}

ion-content.background{
    --background: url(../../../../assets/images/fondoMenu.jpg) 0 0/100% 100% no-repeat;
}

ion-card.background{
    --background: url(../../../../assets/images/fondoTextura.jpeg) 0 0/100% 100% no-repeat;
}

ion-item.background{
    --background: url(../../../../assets/images/fondoTextura.jpeg) 0 0/100% 100% no-repeat;
}
