<ion-header>
  <ion-toolbar>
    <ion-title>Listado Vehiculos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-searchbar (ionInput)="filterList($event)" placeholder="Buscar vehiculo"></ion-searchbar>
  <ion-list *ngFor="let vehiculo of listado">
    
    <ion-item-divider (click)="showVehiculo(vehiculo.id)">
      <ion-label style="font-size: 18px; font-weight: bold;">{{vehiculo.modelo}}</ion-label>
    </ion-item-divider>
    <ion-item (click)="showVehiculo(vehiculo.id)">
      <ion-label>
        <p>TIPO: {{vehiculo.idCategoria}}</p>
        <p>AÑO: {{vehiculo.anio}}</p>
        <p>COLOR: {{vehiculo.color}}</p>
        <p>PRECIO: {{vehiculo.precio}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
