<ion-app>
  <ion-menu contentId="content1" side="start">
    <ion-header>
      <ion-toolbar>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      
      <ion-list>
        <ion-item class="items" routerLink="/lista-clientes">Listado Clientes</ion-item>
        <ion-item class="items" routerLink="/lista-vehiculos">Listado Vehiculos</ion-item>
        <ion-item class="items" routerLink="/insert-vehiculo">Crear Vehiculos</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
      </ion-toolbar>
    </ion-header>
  </div>
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>

<ion-header>
  <ion-toolbar>
    <ion-title>Mule Apis</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
