.items{
    color: rgba(98, 98, 253, 0.979);
}

ion-content.background{
    --background: url(../../assets/images/fondoMenu.jpg) 0 0/100% 100% no-repeat;
}

/*ion-content.backgroundMenu{
    --background: rgb(180, 221, 255);
}*/
