<ion-header>
  <ion-toolbar>
    <ion-title>{{modelo}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-card padding class="background">
    <ion-card-content>
      <form >
        <ion-label position="stacked">Tipo:</ion-label>
        <ion-item padding class="background">
          <ion-input hidden type="number" name="id" [(ngModel)]="id"></ion-input>
          <ion-input type="text" name="idCategoria" [(ngModel)]="idCategoria"></ion-input>
        </ion-item>
        <div><b></b><br/></div>

        <ion-label position="stacked">Marca: </ion-label>
        <ion-item padding class="background">
          <ion-input type="text" name="idMarca" [(ngModel)]="idMarca"></ion-input>
        </ion-item>
        <div><b></b><br/></div>

        <ion-label position="stacked">Año: </ion-label>
        <ion-item padding class="background">
          <ion-input type="number" name="anio" [(ngModel)]="anio"></ion-input>
        </ion-item>
        <div><b></b><br/></div>
        
        <ion-label position="stacked">Version: </ion-label>
        <ion-item padding class="background">
          <ion-input type="text" name="version" [(ngModel)]="version"></ion-input>
        </ion-item>
        <div><b></b><br/></div>

        <ion-label position="stacked">Color: </ion-label>
        <ion-item padding class="background">
          <ion-textarea type="text" name="color" [(ngModel)]="color"></ion-textarea>
        </ion-item>
        <div><b></b><br/></div>

        <ion-label position="stacked">Precio: </ion-label>
        <ion-item padding class="background">
          <ion-textarea type="text" name="precio" [(ngModel)]="precio"></ion-textarea>
        </ion-item>
        <div><b></b><br/></div>

        <ion-item padding class="background">
          <img src="{{imagen}}"/>
          
        </ion-item>
        <div><b></b><br/></div>

        <!--
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="12" class="ion-text-center">
              <ion-button (click)="actualizaDatosVehiculo()">Actualizar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      -->
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
